body {
	width: 50%;
	margin‐left:auto;
	margin‐right:auto;
	background-color: #D3C7DF;
	padding: 0% 20% 20% 20%;
	border: 5px solid black;
	
}

h{
	font-size:150%;
	font-weight:bold;

}




